<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="formCtrl">
  <form>
 UserName: <input type="text" ng-model="Username"><br><br>
 password: <input type="text" ng-model="password"><br><br>
 
 <button ng-click="add()">Sign In</button>
{{user}}

</form>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('formCtrl', function($scope) {
    $scope.firstname = " ";
	$scope,password = " ";
});
</script>

</body>
</html>
